<div id="modal-content-wrapper">
    <div id="modal-header">
        <h1 id="modal-title">Enter verify code:</h1>
    </div>
    <div id="modal-body">
        <form [formGroup]="CodeForm">
            <p class="textLabel"><label class="right-margin">Verify Code</label></p>
            <input type="text" formControlName="verifyCode" class="infoInput" name="verify" id="verify"
                placeholder="Verify Code">
        </form>
    </div>
    <div id="modal-footer">
        <button  mat-raised-button id="modal-action-button" (click)="verify()">Verify</button>
        <button  mat-raised-button id="modal-action-button" [routerLink]="['/register']">Back</button>
    </div>

</div>