/* You can add global styles to this file, and also import other style files */
.dark-blue-color{
    color: #105a8f;
}

.dark-blue-background{
    background-color:#105a8f;
}

.navbar-text{
    color:white;
    font-size: 20px;
    text-transform: uppercase;
}

.light-blue-color{
   color: #79c0f2;
}
.white-text{
    color: white;
}

.text-big{
    font-size: 22px;
}

.text-regular{
    font-size:16px;
}

.nav-logo{
    font-size: 22px;
    font-weight: bold;
    color:white;
    padding: 20px;
    text-decoration: none;
    border: 2px solid white;
}
.nav-logo:hover{
    color: white;

}

.nav-button{
    color:white;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    margin:10px 20px;
    padding: 10px;
}
.nav-button:hover{
    color: rgb(224, 222, 222);
}