<div id="content-wrapper" class="dark-blue-background text-light">
    <div id="header">
        <div class="row text-center">
            <div class="col-12 mt-3">        
                <h1 id="title">Enter password credentials:</h1>
            </div>
        </div>
    </div>
    <div id="body">
        <form [formGroup]="CodeForm">
        
            <p class="textLabel"><label class="right-margin">New password:</label></p>
            <input type="password" formControlName="password" class="infoInput" name="pass" id="pass"
                placeholder="Password123!">
                <p class="textLabel"><label class="right-margin">Repeat password:</label></p>
            <input type="password" formControlName="repeatedPassword" class="infoInput" name="repeatPass" id="repeatPass"
                placeholder="Password123!">
            <p class="textLabel"><label class="right-margin">Reset Code</label></p>
            <input type="text" formControlName="verifyCode" class="infoInput" name="code" id="code"
                placeholder="Reset Code">
                
        </form>
    </div>
    <div id="footer">
        <button  mat-raised-button id="action-button" class="certificates-button mx-3" (click)="reset()">Reset</button>
    </div>

</div>
