<div id="content-wrapper">
    <div id="header">
        <h1 id="title">Enter password credentials:</h1>
    </div>
    <div id="body">
        <form [formGroup]="CodeForm">
        
            <p class="textLabel"><label class="right-margin">New password:</label></p>
            <input type="text" formControlName="password" class="infoInput" name="verify" id="verify"
                placeholder="Password123!">
                <p class="textLabel"><label class="right-margin">Repeat password:</label></p>
            <input type="text" formControlName="repeatedPassword" class="infoInput" name="verify" id="verify"
                placeholder="Password123!">
            <p class="textLabel"><label class="right-margin">Reset Code</label></p>
            <input type="text" formControlName="verifyCode" class="infoInput" name="verify" id="verify"
                placeholder="Reset Code">
                
        </form>
    </div>
    <div id="footer">
        <button  mat-raised-button id="action-button" (click)="reset()">Reset</button>
    </div>

</div>
